* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #384353;
}

.section_title {
  font-size: 36px;
  padding: 24px 0;
  text-align: center;
  margin-bottom: 24px;
  font-weight: 400;
  border: 1px solid #dfdfdf;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
header .logo {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

footer {
  background-color: #384353;
  padding-bottom: 22px;
}
@media screen and (max-width: 1024px) {
  footer {
    padding: 56px 0;
  }
}
footer .footer_navs {
  justify-content: center;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  footer .footer_navs {
    flex-wrap: wrap;
  }
}
footer .footer_navs .footer_nav {
  flex: 1;
  border-right: 1px solid #DFDEDB;
  padding: 25px 56px;
  border-bottom: 1px solid #DFDEDB;
}
@media screen and (max-width: 1024px) {
  footer .footer_navs .footer_nav {
    padding: 16px 16px;
    width: 50%;
    flex: none;
    border-top: 1px solid #DFDEDB;
  }
}
footer .footer_navs .footer_nav div {
  padding-bottom: 16px;
  color: #F5F4F3;
}
@media screen and (max-width: 1024px) {
  footer .footer_navs .footer_nav div {
    padding-bottom: 8px;
    text-transform: uppercase;
  }
}
footer .footer_navs .footer_nav nav {
  display: flex;
}
footer .footer_navs .footer_nav nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
}
@media screen and (max-width: 1024px) {
  footer .footer_navs .footer_nav nav ul {
    gap: 14px;
  }
}
footer .footer_navs .footer_nav nav ul li a {
  color: #F5F4F3;
  text-decoration: none;
}
footer .footer_logo {
  margin: 92px 0;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  footer .footer_logo {
    margin: 0px;
  }
}
footer .footer_logo img {
  width: 1359px;
}
@media screen and (max-width: 1024px) {
  footer .footer_logo img {
    width: 100%;
    padding: 35px 17px;
  }
}
footer .copyright {
  border: 1px solid #DFDEDB;
  font-size: 12px;
  text-transform: uppercase;
  color: #DFDEDB;
  padding: 24px 0;
  text-align: center;
}

section.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 740px;
}
@media (max-width: 1200px) {
  section.hero {
    height: 600px;
  }
}
section.hero figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section.hero figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.hero .hero_content .page_title {
  font-size: 96px;
  color: #ffffff;
  text-align: center;
}
section.hero .hero_content .page_title span {
  font-size: italic;
}
section.hero .hero_content .hero_button {
  display: flex;
  justify-content: center;
}
section.hero .hero_content .hero_button a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 36px;
  border-radius: 8px;
  background-color: #f8f4e7;
  color: #384353;
  text-decoration: none;
}

.our_products .product-list ul {
  display: flex;
  margin: 0;
  list-style: none;
  flex: wrap;
  padding: 0 15px;
  gap: 30px;
  justify-content: space-between;
}
.our_products .product-list li .product-detales {
  display: flex;
  justify-content: space-between;
}
.our_products .product-list li .product-title {
  font-weight: 400px;
  font-size: 12px;
}
.our_products .product-list li figure img {
  align-items: center;
}
.our_products .shopall {
  margin-top: 30px;
}
.our_products .shopall a {
  display: block;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

section.light_chair {
  display: flex;
  justify-content: center;
  height: 100vh;
}
section.light_chair .texts {
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #384353;
  color: #ffffff;
  width: 50%;
  height: 100%;
  gap: 30px;
  padding: 211px 157px;
}
section.light_chair .texts .title {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
}
section.light_chair .texts .about {
  font-weight: 400px;
  font-size: 15px;
  line-height: 19px;
}
section.light_chair .texts .button {
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
}
section.light_chair .chair {
  width: 50%;
  height: 100%;
}
section.light_chair .chair img {
  height: 100%;
  width: 100%;
}

section.feature_products {
  background-color: #384353;
  color: #ffffff;
  width: 100%;
}
section.feature_products .section_header {
  background-color: #384353;
  color: #ffffff;
}
section.feature_products .allproduct {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px;
  padding-right: 0;
}
section.feature_products .allproduct .product-detals {
  width: calc(25% - 20px);
}
section.feature_products .allproduct .product-detals figure {
  width: 100%;
}
section.feature_products .allproduct .product-detals img {
  width: 100%;
}
section.feature_products .allproduct .product-detals .textprice {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
}
section.feature_products .section_end {
  background-color: #384353;
  color: #ffffff;
  width: 100%;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

section.detail_matter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 740px;
  width: 100%;
  z-index: 3;
}
section.detail_matter figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section.detail_matter figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.detail_matter .matters .matters_tittle {
  font-weight: 400;
  font-size: 72px;
  line-height: 72px;
  font-family: "Reckless Neue";
  margin-bottom: 36px;
  color: rgb(50, 51, 52);
}
section.detail_matter .matters .matter_content {
  font-size: 13px;
  font-family: Neue Montreal;
  line-height: 14px;
  font-weight: 400;
  margin-bottom: 36px;
}
section.detail_matter .matters .second_content {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 36px;
  font-family: "Neue Montreal";
}

section.cards {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 0 50px;
}
section.cards .first_card {
  border: 1px solid rgb(223, 222, 219);
}
section.cards .cards_header {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: rgb(50, 51, 52);
  width: 454px;
  margin-bottom: 24px;
}
section.cards .cards_tittle {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: rgb(50, 51, 52);
  margin-bottom: 24px;
}
section.cards .card_article {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: Stormy;
  text-decoration: black;
  color: rgb(50, 51, 52);
}

section.contact_us {
  height: 680px;
  margin: 80px 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  section.contact_us {
    margin: 0px;
    height: 677px;
    left: 0px;
  }
}
section.contact_us figure {
  position: absolute;
  width: 100%;
  height: 100%;
}
section.contact_us figure img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  section.contact_us .contact_us_text {
    width: 100%;
  }
}
section.contact_us .contact_us_text h3 {
  font-size: 72px;
  color: #ffffff;
  margin-bottom: 48px;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  section.contact_us .contact_us_text h3 {
    width: 100%;
    font-family: "Reckless Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }
}
section.contact_us .contact_us_text form {
  display: flex;
  justify-content: center;
}
section.contact_us .contact_us_text form input {
  width: 334px;
  height: 46px;
  background-color: transparent;
  padding-left: 16px;
  text-transform: uppercase;
  border-radius: 8px;
  border: 1px solid #DFDEDB;
  color: #ffffff;
}
@media only screen and (max-width: 1024px) {
  section.contact_us .contact_us_text form input {
    width: 100%;
    margin: 0px 16px;
  }
}

/*# sourceMappingURL=main.css.map */
