section.feature_products{
  background-color: $cmain;
  color: $cwhite;
  width: 100%;
   .section_header{
     background-color: $cmain;
     color: $cwhite;
    }
    .allproduct {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      padding: 15px;
      padding-right: 0;
    .product-detals{
      width: calc(25% - 20px);

    figure{
      width: 100%;
          
         }
     img{
      width: 100%;
         }
          
    .textprice{
      display: flex;
      justify-content: space-between;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      font-style: normal;
         }
      }
    }
    .section_end{
    background-color: $cmain;
    color: $cwhite;
    width: 100%;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    }
}