$cwhite: #ffffff;
$cblack: #000000;
$cmain: #384353;
$buttoncolor: #f8f4e7;
$textMaincolor: #323334;
$special: rgba(50, 51, 52, 1);



$fontBase: 'Montserrat', sans-serif;
$fontMain: 'Roboto', sans-serif;